function next_hop_is_valid_for_AS17451_1()
{
        # Checks if NEXT_HOP is one of those allowed for routes announced by AS17451_1
        if bgp_next_hop = 103.19.76.53 then return true;
        return false;
}

filter receive_from_AS17451_1 {
        if !(source = RTS_BGP ) then
                { tag_and_reject(65535, 17451); reject "source != RTS_BGP - REJECTING ", net; }

        if !(net.type = NET_IP4) then
                { tag_and_reject(65535, 17451); reject "AFI not enabled for this peer - REJECTING ", net; }

        scrub_communities_in();

        bgp_community.delete([(7597, 2040)]);
        bgp_community.delete([(65000, 2040)]);
        bgp_large_community.delete([(7597, 65000, 2040)]);
        bgp_ext_community.delete([(rt, 65000, 2040)]);

        # NEXT_HOP
        if !next_hop_is_valid_for_AS17451_1() then
                { tag_and_reject(5, 17451); reject "NEXT_HOP [", bgp_next_hop, "] not allowed - REJECTING ", net; }

        # AS_PATH: length
        if bgp_path.len > 32 then
                { tag_and_reject(1, 17451); reject "AS_PATH len [", bgp_path.len ,"] longer than 32 - REJECTING ", net; }

        # AS_PATH: left-most ASN
        if bgp_path.first != 17451 then
                { tag_and_reject(6, 17451); reject "invalid left-most ASN [", bgp_path.first, "] - REJECTING ", net; }

        # AS_PATH: invalid ASNs
        if as_path_contains_invalid_asn() then
                { tag_and_reject(7, 17451); reject "AS_PATH [", bgp_path ,"] contains invalid ASN - REJECTING ", net; }

        # AS_PATH: transit-free ASNs
        if bgp_path ~ [174, 209, 286, 701, 1239, 1299, 2828, 2914, 3257, 3320, 3356, 3549, 5511, 6453, 6461, 6762, 6830, 7018, 12956] then
                { tag_and_reject(8, 17451); reject "AS_PATH [", bgp_path ,"] contains transit-free ASN - REJECTING ", net; }

        # Prefix: global blacklist
        if prefix_is_in_global_blacklist() then
                { tag_and_reject(3, 17451); reject "prefix is in global blacklist - REJECTING ", net; }


        # Prefix: bogon
        if prefix_is_bogon() then
                { tag_and_reject(2, 17451); reject "prefix is bogon - REJECTING ", net; }

        # Blackhole request?
        if is_blackhole_filtering_request() then {
                accept "blackhole filtering request from AS17451_1 - ACCEPTING ", net;
        } else {

                # Prefix: length
                if !prefix_len_is_valid(8, 24) then
                        { tag_and_reject(13, 17451); reject "prefix len [", net.len, "] not in 8-24 - REJECTING ", net; }

                honor_graceful_shutdown();
        }

        accept;
}

filter announce_to_AS17451_1 {

        if (65520, 0) ~ bgp_community then
                reject;
        if (7597, 65520, 0) ~ bgp_large_community then
                reject;
        if (rt, 65520, 0) ~ bgp_ext_community then
                reject;
        #prefix from iix-jk2 discard
        if (7597, 1040) ~ bgp_community then
                reject;
        if (65000, 1040) ~ bgp_community then
                reject;
        if (7597, 65000, 1040) ~ bgp_large_community then
                reject;
        if (rt, 65000, 1040) ~ bgp_ext_community then
                reject;


        # Blackhole request?
        if is_blackhole_filtering_request() then {
                apply_blackhole_filtering_policy();
        }

        # BGP control communities
        if !route_can_be_announced_to(17451, 103.19.76.53, "AS17451_1") then
                reject "route didn't pass control communities checks - NOT ANNOUNCING ", net, " TO AS17451_1";

        apply_prepend(17451, 103.19.76.53);

        add_noexport_noadvertise(17451);

        scrub_communities_out();

        accept;
}

protocol bgp AS17451_1 {
        description "AS17451 - BIZNET NETWORKS";

        local as 7597;
        neighbor 103.19.76.53 as 17451;
        rs client;

        ttl security off;

        interpret communities off;

        # ---------------------------------------
        ipv4 {
        table master4;

        import limit 3000 action disable;
        import table on;

        import keep filtered on;

        import filter receive_from_AS17451_1;
        export filter announce_to_AS17451_1;

        # ---------------------------------------
        };
}

function next_hop_is_valid_for_AS17451_2()
{
        # Checks if NEXT_HOP is one of those allowed for routes announced by AS17451_2
        if bgp_next_hop = 2001:7fa:2:50ba::2:35 then return true;
        return false;
}

filter receive_from_AS17451_2 {
        if !(source = RTS_BGP ) then
                { tag_and_reject(65535, 17451); reject "source != RTS_BGP - REJECTING ", net; }

        if !(net.type = NET_IP6) then
                { tag_and_reject(65535, 17451); reject "AFI not enabled for this peer - REJECTING ", net; }


        scrub_communities_in();

        bgp_community.delete([(7597, 2040)]);
        bgp_community.delete([(65000, 2040)]);
        bgp_large_community.delete([(7597, 65000, 2040)]);
        bgp_ext_community.delete([(rt, 65000, 2040)]);

        # NEXT_HOP
        if !next_hop_is_valid_for_AS17451_2() then
                { tag_and_reject(5, 17451); reject "NEXT_HOP [", bgp_next_hop, "] not allowed - REJECTING ", net; }

        # AS_PATH: length
        if bgp_path.len > 32 then
                { tag_and_reject(1, 17451); reject "AS_PATH len [", bgp_path.len ,"] longer than 32 - REJECTING ", net; }

        # AS_PATH: left-most ASN
        if bgp_path.first != 17451 then
                { tag_and_reject(6, 17451); reject "invalid left-most ASN [", bgp_path.first, "] - REJECTING ", net; }

        # AS_PATH: invalid ASNs
        if as_path_contains_invalid_asn() then
                { tag_and_reject(7, 17451); reject "AS_PATH [", bgp_path ,"] contains invalid ASN - REJECTING ", net; }

        # AS_PATH: transit-free ASNs
        if bgp_path ~ [174, 209, 286, 701, 1239, 1299, 2828, 2914, 3257, 3320, 3356, 3549, 5511, 6453, 6461, 6762, 6830, 7018, 12956] then
                { tag_and_reject(8, 17451); reject "AS_PATH [", bgp_path ,"] contains transit-free ASN - REJECTING ", net; }


        # Prefix: only IPv6 Global Unicast space allowed
        if !(net ~ [2000::/3+]) then
                { tag_and_reject(10, 17451); reject "prefix is not in IPv6 Global Unicast space - REJECTING ", net; }

        # Prefix: global blacklist
        if prefix_is_in_global_blacklist() then
                { tag_and_reject(3, 17451); reject "prefix is in global blacklist - REJECTING ", net; }


        # Prefix: bogon
        if prefix_is_bogon() then
                { tag_and_reject(2, 17451); reject "prefix is bogon - REJECTING ", net; }

        # Blackhole request?
        if is_blackhole_filtering_request() then {
                accept "blackhole filtering request from AS17451_2 - ACCEPTING ", net;
        } else {

                # Prefix: length
                if !prefix_len_is_valid(12, 48) then
                        { tag_and_reject(13, 17451); reject "prefix len [", net.len, "] not in 12-48 - REJECTING ", net; }

                honor_graceful_shutdown();
        }


        accept;
}

filter announce_to_AS17451_2 {


        if (65520, 0) ~ bgp_community then
                reject;
        if (7597, 65520, 0) ~ bgp_large_community then
                reject;
        if (rt, 65520, 0) ~ bgp_ext_community then
                reject;
        #prefix from iix-jk2 discard
        if (7597, 1040) ~ bgp_community then
                reject;
        if (65000, 1040) ~ bgp_community then
                reject;
        if (7597, 65000, 1040) ~ bgp_large_community then
                reject;
        if (rt, 65000, 1040) ~ bgp_ext_community then
                reject;


        # Blackhole request?
        if is_blackhole_filtering_request() then {
                apply_blackhole_filtering_policy();
        }

        # BGP control communities
        if !route_can_be_announced_to(17451, 2001:7fa:2:50ba::2:35, "AS17451_2") then
                reject "route didn't pass control communities checks - NOT ANNOUNCING ", net, " TO AS17451_2";

        apply_prepend(17451, 2001:7fa:2:50ba::2:35);


        add_noexport_noadvertise(17451);

        scrub_communities_out();

        accept;
}

protocol bgp AS17451_2 {
        description "AS17451 - BIZNET NETWORKS";

        local as 7597;
        neighbor 2001:7fa:2:50ba::2:35 as 17451;
        rs client;

        ttl security off;

        interpret communities off;

        # ---------------------------------------
        ipv6 {
        table master6;

        import limit 1000 action disable;


        import table on;

        import keep filtered on;

        import filter receive_from_AS17451_2;
        export filter announce_to_AS17451_2;

        # ---------------------------------------
        };

                }

