DASHBOARD_BIND_HOST=127.0.0.1
DASHBOARD_PORT=8989
SYSLOG_BIND_HOST=127.0.0.1
SYSLOG_PORT=514
RETENTION_SECONDS=129600
PRUNE_INTERVAL=300
NETWORK_INTERNAL=false
RELEASE_TAG=local
SYSLOG_ANALYZER_TOKEN=GENERATED_BY_install.sh
MIMBAR_SETUP_TOKEN=GENERATED_BY_install.sh
